
<%- include("partials/header.ejs") %>

    <h1>Home</h1>
    <p> <%= homeStartingContent %></p>


    <% posts.forEach((post,index) => {%>
        <h2> <%= post.title  %></h2>
        <p> <%= post.content %>... <a href="posts/<%= post.title %>" index="<%= index %>">Read more.</a> </p>
        
    <% }); %>


<%- include("partials/footer.ejs") %>
