
<%- include("layout/header") %>

<link rel="stylesheet" href="css/styles.css">

<%- include("layout/nav") %>

    <div class="box" id="heading">
        <h1>Work List</h1>
    </div>

    
    <div class="box">
        <% todoList.forEach((element,index) => { %>
            <div class="item">
                <input type="checkbox">
                <h3 index="<%= index + 1 %>"> <%= index + 1 %> <%= element.item %></h3>
            </div>
        <%}); %>

    </div>

    <div class="box">
        <form action="/work" class="item" method="post" name="form-workList" onsubmit="return workItem()">
            <input type="text" name="todo" placeholder="add another todo">
            <button>+</button>
        </form>
    </div>
    
    <script src="js/workItemAdd.js"></script>

<%- include("layout/footer") %>